.features {
  padding: 120px 0;
}

.features-container {
  display: flex;
}

.features-name {
}

.features-title {
  display: flex;
  gap: 24px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 72px) / 4);
}
.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
}

.social-icon {

}

.feature-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: left;
}

.feature-list-text {
  color: #434455;
}
