.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: flex-start;
}

.logo-block {
  display: flex;
  max-width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-right: 120px;
}

.footer-logo-link {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}

.social-blok {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-right: auto;
}
.social-text {
  font-weight: 500;
  color: #fff;
}
.cocial-footer {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.cocial-link-footer {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cocial-link-footer:hover,
.cocial-link-footer:focus {
  background-color: #31d0aa;
}

.cocial-icon-footer {
  fill: #f4f4fd;
  flex-shrink: 0;
}

.footer-blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.footer-subscribe {
  color: #fff;
  font-weight: 500;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #fff;
}
.footer-label {
  display: flex;
  width: 264px;
}
.footer-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: #fff;
}

.footer-input:focus {
  border-color: #31d0aa;
}

.footer-input::placeholder {
  font-size: 12px;
  letter-spacing: 0.48px;
  color: currentColor;
}

.footer-btn {
  display: flex;
  min-width: 165px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #31d0aa;
}

.footer-svg {
  flex-shrink: 0;
  fill: #fff;
}
