/* ==================== HERO CONTAINER ==================== */
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    gap: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-container {
    gap: 48px;
  }
}

/* ==================== HERO SECTION ==================== */
.hero {
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    image-set(
      url("../images/hero/hero-bg_mobi.jpg") 1x,
      url("../images/hero/hero-bg_mobi@2x.jpg") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* max-width: 320px; */
  padding: 72px 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url("../images/hero/hero-bg_tabl.jpg") 1x,
        url("../images/hero/hero-bg_tabl@2x.jpg") 2x
      );
    /* max-width: 768px; */
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url("../images/hero/hero-bg_desc.jpg") 1x,
        url("../images/hero/hero-bg_desc@2x.jpg") 2x
      );
    max-width: 1440px;
    padding: 188px 0;
  }
}

/* ==================== HERO TITLE ==================== */
.hero-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: #ffffff;
  max-width: 216px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
  }
}

/* ==================== HERO BUTTON ==================== */
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}




