body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* ----- HEDER ------ */

.container {
  display: flex;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
  /* background-color: #e8dfdf; */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
      box-shadow: 0 1px 6px 0 #2e2f4214, 0 1px 1px 0 #2e2f4229, 0 2px 1px 0 #2e2f4214;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1158px) {
  .header-container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 120px;
  margin-right: auto;
}

@media screen and (min-width: 1158px) {
  .header-nav {
    gap: 76px;
  }

}

.nav-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: #4D5AE5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
  width: 115px;
}

.black {
  color: #2E2F42;
}

@media screen and (max-width: 768px) {
  .header-logo {
    padding: 0;
  }
}

.mobile-menu-button {
  display: block;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  stroke: #111;
  line-height: 0;
  color: #2F2F37;
  z-index: 999;

}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }

  .mobile-menu-button .mobil-menu-icon {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #2E2F42;
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
    position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #404BBF;
      left: 0;
      bottom: -1px;
    }

.nav-list,
.kontakts {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list,
  .kontakts {
    display: flex;
    font-style: normal;
     }
    }

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
}

@media screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
    padding: 0;
  }
}

.contacts-link {
  display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

   /* H E R O */

.hero-container {
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.business {
  background-color: #2e2f42;

  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url("../images/mobihero_bg-x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;

}

@media screen and (min-resolution: 192dpi) {
  .business {
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/mobihero_bg-2x.jpg");  }
}

@media screen and (min-width: 768px) {
  .business {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/tablhero_bg-x.jpg");
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .business {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/tablhero_bg-2x.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .business {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/desk_office-x.jpg");
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .business {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/desk_office-2x.jpg");
  }
}

.business-text {
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: 52px;
  margin-right: 52px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
      color: #fff;
}

@media screen and (min-width: 768px) {
  .business-text {
    max-width: 496px;
      font-size: 56px;
      line-height: 60px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .business-text {
    margin-bottom: 48px;
      font-size: 48px;
      line-height: 52px;
  }
}

.button {
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-left: auto;
      margin-right: auto;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

